In [1]:
import pandas as pd
student_data = pd.read_csv('../BBDC/student_data_bereinigt_merged.csv')

/tmp/ipykernel_7189/924501092.py:2: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  student_data = pd.read_csv('../BBDC/student_data_bereinigt_merged.csv')

In [7]:
cleaned_student_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3908496 entries, 359498 to 8816893
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   sessionId          int64
 1   timestamp          int64
 2   x                  float64
 3   y                  float64
 4   z                  float64
 5   ppgValue           float64
 6   hr                 float64
 7   hrIbi              float64
 8   hrStatus           float64
 9   ibiStatus          float64
 10  affect             object
 11  context            object
 12  gender             int64
 13  age                int64
 14  timestamp_seconds  float64
dtypes: float64(9), int64(4), object(2)
memory usage: 477.1+ MB

In [12]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8824019 entries, 0 to 8824018
Data columns (total 14 columns):
 #   Column     Dtype
---  ------     -----
 0   sessionId  int64
 1   timestamp  int64
 2   x          float64
 3   y          float64
 4   z          float64
 5   ppgValue   float64
 6   hr         float64
 7   hrIbi      float64
 8   hrStatus   float64
 9   ibiStatus  float64
 10  affect     object
 11  context    object
 12  gender     int64
 13  age        int64
dtypes: float64(8), int64(4), object(2)
memory usage: 942.5+ MB

In [2]:
affect_labels = student_data['affect'].unique()
context_labels = student_data['context'].unique()

In [21]:
nan_percentage = student_data.isnull().mean() * 100
nan_percentage_cleaned = cleaned_student_data.isnull().mean() * 100

In [14]:
filtered_data_affect = student_data[student_data['affect'].notna()]
filtered_data_context = student_data[student_data['context'].notna()]

In [3]:
import pandas as pd


# First, convert timestamp to seconds for easier computation
student_data['timestamp_seconds'] = student_data['timestamp'] / 1000
print("timestamp conversion to seconds done")
# Function to label surrounding 5 seconds
def label_surrounding_rows(df, label_column):
    # Identify rows where label_column is not NaN
    labeled_indices = df.dropna(subset=[label_column]).index
    
    # For each labeled row, label the surrounding 5 seconds
    for index in labeled_indices:
        # Get the timestamp of the current labeled row
        current_timestamp = df.loc[index, 'timestamp_seconds']
        
        # Define the 5-second window before and after
        window_start = current_timestamp - 4
        window_end = current_timestamp + 4
        
        # Find indices within this window
        window_indices = df[(df['timestamp_seconds'] >= window_start) & (df['timestamp_seconds'] <= window_end)].index
        
        # Apply the label to rows within the window
        df.loc[window_indices, label_column] = df.loc[index, label_column]

    return df

# Apply the function for both 'affect' and 'context' labels
student_data = label_surrounding_rows(student_data, 'affect')
student_data = label_surrounding_rows(student_data, 'context')

timestamp conversion to seconds done

In [7]:
import pandas as pd

# Columns to duplicate values in until a new non-NaN value appears
columns_to_fill = ['hr', 'hrIbi', 'hrStatus', 'ibiStatus']

# Apply forward fill for the specified columns
student_data[columns_to_fill] = student_data[columns_to_fill].fillna(method='ffill')

In [4]:
import pandas as pd


# Drop rows where both 'context' and 'affect' are NaN
cleaned_student_data = student_data.dropna(subset=['context', 'affect']) #how='all'

# 'cleaned_student_data' now contains the data without rows where both 'context' and 'affect' were NaN

In [5]:
cleaned_student_data

,sessionId,timestamp,x,y,z,ppgValue,hr,hrIbi,hrStatus,ibiStatus,affect,context,gender,age,timestamp_seconds
513495,7,374822,-3447.0,-1660.0,270.000000,2239466.0,58.0,178.073171,-10.0,0.0,RELAXED,WALKING,1,0,374.822
513496,51,374822,-1112.0,-2013.0,1177.000000,2101379.0,60.0,182.317073,-10.0,0.0,RELAXED,WALKING,1,1,374.822
513497,29,374823,3865.0,1516.0,-68.000000,2205306.0,62.0,186.560976,-10.0,0.0,RELAXED,WALKING,0,2,374.823
513498,41,374824,-4073.0,358.0,-16.000000,2443111.0,64.0,190.804878,-10.0,0.0,RELAXED,WALKING,1,0,374.824
513499,32,374824,2551.0,-3213.0,-119.000000,2090760.0,66.0,195.048780,-10.0,0.0,RELAXED,WALKING,1,2,374.824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8776237,38,8915756,-98.0,-1280.0,2428.666667,2055233.0,82.0,464.000000,1.0,1.0,HAPPY,CONVERSATION,1,0,8915.756
8776238,51,8915762,-261.0,270.0,4051.000000,2194186.0,82.2,474.500000,1.0,1.0,HAPPY,CONVERSATION,1,1,8915.762
8776239,24,8915762,3835.0,-1568.0,1212.000000,2030692.0,82.4,485.000000,1.0,1.0,HAPPY,CONVERSATION,1,1,8915.762
8776240,17,8915768,-198.0,-3845.0,1539.000000,1923837.0,82.6,495.500000,1.0,1.0,HAPPY,CONVERSATION,0,0,8915.768
8776241,29,8915773,-314.0,-897.0,3918.000000,1931054.0,82.8,506.000000,1.0,1.0,HAPPY,CONVERSATION,0,2,8915.773

In [6]:
import pandas as pd
import numpy as np

# Assuming 'student_data' is your DataFrame
# And it contains 'sessionId' as the subject ID column
# Replace 'feature1', 'feature2', etc., with your actual feature column names (e.g., 'x', 'y', 'z', 'hr')

features = ['x', 'y', 'z', 'ppgValue', 'hr', 'hrIbi']  # Add all feature columns you want to normalize

# Function to normalize features within each subject
def normalize_within_subject(df, subject_column, features):
    # Copy the dataframe to avoid modifying the original data
    normalized_df = df.copy()
    
    # Normalize each feature within each subject
    for feature in features:
        print(feature)
        # Apply z-score normalization within each subject
        df_grouped = df.groupby(subject_column)
        normalized_df[feature] = df_grouped[feature].transform(lambda x: (x - x.mean()) / x.std())
    
    # Replace NaN values that result from dividing by std = 0 with 0 (if a feature has constant value)
    normalized_df[features] = normalized_df[features].fillna(0)
    
    return normalized_df

# Apply the normalization function to your data
normalized_student_data = normalize_within_subject(cleaned_student_data, 'sessionId', features)

x
y
z
ppgValue
hr
hrIbi

In [10]:
import pandas as pd

# Remove rows where 'x', 'y', and 'z' are all zero
normalized_student_data = normalized_student_data[~((normalized_student_data['x'] == 0) & (normalized_student_data['y'] == 0) & (normalized_student_data['z'] == 0))]

In [7]:
normalized_student_data.to_csv('new_student_data_fenster4_nor.csv', index=False)